{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-5 ">
    <div class="display-5 text-center mb-4  "> Signup </div>
    <div class="row flex justify-content-center">
        <div class="col-4">
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form | crispy }}
                <input class="btn btn-danger form-control" type="submit" value="create" >
            </form>
        </div>
    </div>
</div>


{% endblock %}